<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2">
    <h3>Edit your listing</h3>
    <form method="post" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]"  value="<%= listing.title%>" type="text" class="form-control" required>
            <div class="valid-feedback">Title looks goods</div>
        </div>

        <div class="mb-3">
            <label for="title" class="form-label">Description</label>
            <textarea name="listing[description]"  type="text" class="form-control" required><%= listing.description%></textarea>
            <div class="invalid-feedback">Description should be valid</div>
        </div>

        <div class="mb-3">
            Original Listing Image <br>
            <img src="<%= originalImageUrl %>" style="max-width: 300px; height: auto;">
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">upload Image</label>
            <input name="listing[image]"  type="file" class="form-control" >
            
        </div>
        
        <div class="mb-3">
            <label for="price" class="form-label">price</label>
            <input name="listing[price]"  value="<%= listing.price%>" type="text" class="form-control" required>
            <div class="invalid-feedback">price should be valid</div>
        </div>

        <div class="mb-3">
            <label for="country" class="form-label">country</label>
            <input name="listing[country]"  value="<%= listing.country%>" type="text" class="form-control" required>
            <div class="invalid-feedback">Country should be valid</div>
        </div>
        
        <div class="mb-3">
            <label for="location" class="form-label">location</label>
            <input name="listing[location]"  value="<%= listing.location%>" type="text" class="form-control" required>
            <div class="invalid-feedback">Location should be valid</div>
        </div>

        <br> <br>
        <button class="btn btn-outline-primary edit-btn">edit</button>
        <br> <br>
    
    </form>
    </div>
</div>    

<!-- <script src="/js/script.js"></script>  donot need we already add in boilerplate.js it apply all where -->
